<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>main</title>
</head>
<body>
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>author</label><br>
            <input type="text" name="author" />
        </p>
        <p>
            <label>title</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>text</label><br>
            <input type="text" name="text" />
        </p>
        <p>
            <label>created_date</label><br>
            <input type="date" name="created_date" />
        </p>
        <p>
            <label>published_date</label><br>
            <input type="date" name="published_date" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if posts.count > 0 %}
    <h2>Список постов</h2>
    <table>
        <thead><th>Id</th><th>Автор</th><th>Тайтл</th><th>Текст</th><th>Дата создания</th><th>Дата публикования</th></thead>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.text }}</td>
            <td>{{ post.created_date }}</td>
            <td>{{ post.published_date }}</td>
            <td><a href="edit/{{post.id}}">Изменить</a> | <a href="delete/{{post.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>